@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500&family=Noto+Sans+KR:wght@100;300;400;500;700&family=Orbitron&display=swap');

/* content ----------------------------------------- */
.community{

    .inner{
        width: 1180px;
        >h2{
          font: 30px/1 'Noto Sans KR';
          font-weight: 500;
          color: #000;
          letter-spacing: 1px;
          padding: 80px 0 70px;

        }
        // span{
        //     font: 18px/1 'Noto Sans KR';
        //     font-weight: 400;
        //     color: #000;
        //     &::before{
        //         content: '/'; 
        //         font-size: 20px;
        //         margin-right:20px;
        //         margin-left:20px;
        //     }
        // }

        #tab{
          width: 100%;
          position: relative;
          margin-top: 50px;

          dt{
            width: calc(100%/3);
            height: 50px;
            border: 1px solid #ddd;
            position: absolute;
            top: 0; 
            margin-top: -90px;
            transition: 0.3s;
            &:nth-of-type(1){left: calc(100%/3)*0;}
            &:nth-of-type(2){
              left: calc(100%/3)*1;
              border-left: none;
              border-right: none;
            }
            &:nth-of-type(3){left: calc(100%/3)*2;}

            &:hover a{
              font: bold 14.5px/50px 'Noto Sans KR';
              color: #000;
            }
            
            a{
              display: block;
              width: 100%; height: 100%;
              background: #fff;
              font: 14px/50px 'Noto Sans KR';
              color: #222;
              text-align: center;
              transition: 0.3s;
            }
            &.on {
              border-bottom: 3px solid #000;
              box-sizing: border-box;
              a{
                font: bold 15px/40px 'Noto Sans KR';
                color: #000;
              }
            }
          }
          dd{
            width: 100%; 
            display: none;
            position: relative;
            margin-top: 50px;

            &.on{
              display: block;
            }
            table{
              //table 간격 없애주는 속성
              border-collapse: collapse;
              margin: 0 auto 50px;
              width: 100%; 
              border-bottom: 2px solid #111;
              thead{
                width: 100%;
                tr{
                  th{
                      background: #eee;
                      padding: 15px; 
                      color: #000;
                      &:nth-of-type(1){ width: 10%; }
                      &:nth-of-type(3){ width: 15%; }
                      &:nth-of-type(4){ width: 15%; }
                  }
                }
              }
              tbody{
                tr{
                  transition: 0.2s;
                    &:hover{
                      background: #777;
                      color: #fff;
                      a{
                        color: #fff;
                        border-bottom: 1px solid #fff;
                      }
                    }
                }
              td{
                padding: 13px;
                border-bottom: 1px solid #ddd;
                font-size: 14px;
                text-align: center;
                &:nth-of-type(2){text-align: left;}
                &:nth-of-type(3){font-family: "Noto Sans Kr";}
                a{
                    color: #333;
                    font-family: 'arial';
                    line-height: 1.4;
                }
               }
             }
           }
          }
        }
        
       .pagination{
        width: 100%; text-align: center;

        &::after{
            content: ''; display: block; clear: both;
        }
        span{
          &::before{
            display: none;
          }
        }
        .prev{
            float: left;
            width: 30px; height: 30px;
            font-size: 20px; color: #fff;
            background: #000;
            text-align: center;
            line-height: 30px;
            transition: background 0.3s;
            &:hover{
              color: #000;
              border: 1px solid #000;
              background: #fff;
            }
        }
        .next{
            float: right;
            width: 30px; height: 30px;
            font-size: 20px; color: #fff;
            background: #000;
            text-align: center;
            line-height: 30px;
            transition: background 0.3s;
            &:hover{
              color: #000;
              border: 1px solid #000;
              background: #fff;
            }
        }
        .numbers{
            display: inline-block;
            //a태그 간격 없어지게 함
            font-size: 0%;
            a{
                display: inline-block;
                width: 30px; height: 30px;
                font: 11px/30px 'arial';
                color: #000;
                border: 1px solid #000;
                margin: 0 5px;
                transition: 0.5s;
                &:hover{
                    background: #000;
                    color: #fff;
                }
              &:nth-of-type(1){
                background: #000;
                color: #fff;
              }
            }
        }
      }
    }
  }

    .inner2{
      padding-top: 50px;
      h2{
        padding: 80px 0 50px !important;
      }
      .wrap::after{
        content: ''; display: block; clear: both;
      }
      article{
        width: 280px; height: 300px;
        margin-right: 20px;
        margin-bottom: 20px;
        float: left;
        position: relative;
        transition: all 0.3s;
        &:hover{
          &::after{
            content: ''; display: block;
            width: 100%; height: 100%;
            box-sizing: border-box;
            position: absolute;
            top: 0; left: 0;
            background: #000; opacity: 0.3;
            z-index: 1;
            transition: all 0.3s;
          }
          & .text{
            bottom: 100px; left: 50px;
            opacity: 1;
            z-index: 10;
            transition: all 0.5s;
          }
        }
        .text{
          position: absolute;
          bottom: -200px; left: 50px;
          opacity: 0;
          h4{
            font: 30px/1 'Cormorant Garamond';
            color: #fff;
            margin-bottom: 10px;
          }
          h5{
            display: block;
            font: lighter 11px/1 'arial';
            color: #fff;
            letter-spacing: 0.2em;
          }
        }
        &:nth-of-type(7):hover::after{
          display: none;
        }
        &:nth-of-type(12):hover .text{
          display: none;
        }
        &:nth-of-type(4n){
          margin-right: 0;
        }
        &:nth-of-type(9){
          margin-bottom: 0;
        }
        &:nth-of-type(10){
          margin-bottom: 0;
        }
        &:nth-of-type(11){
          margin-bottom: 0;
        }
        &:nth-of-type(12){
          margin-bottom: 0;
        }
        img{
          width: 100%; height: 100%;
          object-fit: cover;
          border: 0;
        }
        h3{
          font: lighter 25px/1.2 'Cormorant Garamond';
          color: #000;
          margin-top: 35%; 
          padding-bottom: 30px;
          padding-left: 30px;
        }
        a{
          padding: 13px 23px;
          font: 11px/1 'arial';
          letter-spacing: 1.5px;
          color: #000;
          border: 1px solid #000;
          position: absolute;
          left: 30px;
        }
      }
    }



  /* tablet --------------------------------------- */
@media screen and (max-width: $tablet) {
  .community{
    .sub_visual h1{
    display: block;
    width: 100%;
    font: bold 7vmin/1 'arial';
    letter-spacing: 0px;
    }
    .inner{
      width: 100%;
      padding: 0 30px;
      box-sizing: border-box;
      h2{
        font:25px/1 'Noto Sans KR';
        font-weight: 500;
    }
    span{
        font:18px/1 'Noto Sans KR';
    }
      table{
        font-size: 13px;
        thead{
          tr{
            th{
              padding: 15px;
              &:nth-of-type(1){ width: 15%; }
              &:nth-of-type(3){ width: 17%; }
              &:nth-of-type(4){ width: 0%; display: none;}
           }
          }
        }
        tbody{
          tr{
            td{
              &:nth-of-type(4){display: none;}
          }
          }
        } 
      }
      .pagination{
          .numbers{
              a{
                  &:nth-of-type(6){display: none;}
                  &:nth-of-type(7){display: none;}
                  &:nth-of-type(8){display: none;}
                  &:nth-of-type(9){display: none;}
                  &:nth-of-type(10){display: none;}
              }
          }
      }
    }
  }
  .inner2{
    width: 100%;
    article{
      width: 49%; height: 40vw;
      margin-right: 2%;
      margin-bottom: 10px;
      &:hover{
        .text{
          bottom: 30%; left: 10%;
        }
      }
      &:nth-of-type(2n){
        margin-right: 0;
      }
      &:nth-of-type(9){
        margin-bottom: 10px;
      }
      &:nth-of-type(10){
        margin-bottom: 10px;
      }
      &:nth-of-type(11){
        margin-bottom: 0;
      }
      &:nth-of-type(12){
        margin-bottom: 0;
      }
      h3{
        font: lighter 4vmin/1.2 'Cormorant Garamond';
        margin-top: 25%; 
        padding-bottom: 20px;
      }
    }
  }
}

/* mobile ------------------------------------------- */
@media screen and (max-width: $mobile){
    .community{
        .sub_visual h1{
            font: bold 7vmin/1 'arial';
        }
        .inner{
          h2{
            font:22px/1 'Noto Sans KR';
            font-weight: 500;
            letter-spacing: 0;
        }
        span{
            font:13px/1 'Noto Sans KR';
            letter-spacing: 0;
        }
          table{
            font-size: 12px;
              tr{
                  th{
                      &:nth-of-type(1){ width: 0%; display: none;}
                      &:nth-of-type(3){ width: 29%; }
                  }
                  td{
                      &:nth-of-type(1){display: none;}
                  }
              }
          }
          .pagination{
              .numbers{
                  a{
                     display: none;
              }
          }
      }
     }
    }
    .inner2{
      width: 100%;
      article{
        width: 100%; height: 75vw;
        margin-right: 0%;
        margin-bottom: 10px;
        .text{
          bottom: 30%; left: 10%;
        }
        &:nth-of-type(9){
          margin-bottom: 10px;
        }
        &:nth-of-type(10){
          margin-bottom: 10px;
        }
        &:nth-of-type(11){
          margin-bottom: 10px;
        }
        &:nth-of-type(12){
          margin-bottom: 0;
        }
        h3{
          font: lighter 25px/1.2 'Cormorant Garamond';
          margin-top: 30%; 
          padding-bottom: 20px;
        }
      }
    }
  }