/* content ----------------------------------------- */
.men{
    width: 100%;
    padding: 0 0 150px;

    .sub_visual{
        width: 100%;
        height: 450px;
        background-image: url(../img/men.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;

        .title{
            
            h1{
                font: bold 60px/1 'arial'; color: #fff;
                letter-spacing: 1px;
                text-align: center;
                position: absolute; top: 45%; left: 50%;
                transform: translate(-50%,-50%);
              }
            p{
                font: 15px/1.3 'arial'; color: #fff;
                letter-spacing: 1px;
                text-align: center;
                position: absolute; top: 55%; left: 50%;
                transform: translate(-50%,-20%);
            }
        }
      }
      .inner{
        width: 1180px; 
        margin: 0 auto;
        min-height: 500px;
        text-align: center;
        ul{
            width: 100%;
            margin: 80px auto;
            display: flex; align-items: center; justify-content: center;
            flex-direction: row;
            text-align: center;
            li{
                margin-right: 10px;
                &:hover{
                    a{
                        color: #fff; 
                        background-color: #000;
                      }
                }
              }
              a{
                display: inline-block;
                padding: 15px 10px;
                border: 1px solid #000;
                box-sizing: border-box;
                font: lighter 23px/1 'arial';
                color: #000;
                text-align: center;
                transition: all 0.3s;
                letter-spacing: 1.2px;
              }
          }
          .no{
            margin-right: 0%;
          }
      }
  }

/* tablet ------------------------------------------------ */
@media screen and (max-width: $tablet){
    .men{
        padding: 0 0 100px;
        .sub_visual{
            height: 400px;
            width: 100%;
            .title{
                h1{
                    display: block;
                    width: 100%;
                    font: bold 7vmin/1 'arial';
                    letter-spacing: 0px;
                }
                p{
                    position: absolute; top: 55%; left: 50%;
                    transform: translate(-50%,-10%);
                    font: 13px/1.3 'arial'; color: #fff;
                }
            }
        }
        .inner{
            width: 100%; 
            min-height: 400px;
            p{
                padding: 70px 100px;
                text-align: center;
                font: lighter 2.5vmin/1.5 'arial'; color: #333;
                letter-spacing: 1px;
              }
              ul{
                width: 70%;
                flex-wrap : wrap;
                li{
                    margin-top: 10px;
                  }
                  a{
                    padding: 14px 9px;
                    font: lighter 19px/1 'arial';
                  }
              }
        }
    }
}

/* mobile ---------------------------------------------- */
@media screen and (max-width:$mobile){
    .men{
        padding: 0 0 50px;
        .sub_visual{
            height: 300px;
            .title{
            h1{
                font: bold 7vmin/1 'arial';
            }
            p{
                position: absolute; top: 55%; left: 50%;
                transform: translate(-50%,-30%);
                font: 2.5vmin/1.2 'arial'; color: #fff;
            }
          }
        }
        .inner{
            width: 100%;
            min-height: 500px;
            ul{
                width: 60%;
              }
              p{
                padding: 50px;
                font: lighter 2.5vmin/1.5 'arial'; color: #333;
                &::after{
                    width: 140px;
                }
              }
        }
    }
}