body {
	position: relative;
}

/* content ----------------------------------------- */
.youtube {
	width: 100%;
	padding: 0 0 100px;
	position: relative;

	.inner {
		width: 1180px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		article {
			width: 40%;
			margin-bottom: 50px;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			> a {
				display: block;
				width: 50vh;

				position: relative;
				.cover {
					img {
						width: 100%;
						object-fit: cover;
						border-radius: 0px;
						filter: grayscale(100%);
					}
				}
				i {
					color: rgba(255, 255, 255, 0.8);
					font-size: 55px;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					transition: 0.3s;
				}
				&:hover i {
					font-size: 70px;
				}
			}
			&:nth-of-type(odd) {
				margin-top: 30px;
			}
			&:nth-of-type(even) {
				margin-top: 150px;
			}

			.con {
				width: 85%;
				> h2 {
					width: 100%;
					text-align: left;
					font: 24px/1.2 'Oswald';
					font-weight: 300;
					letter-spacing: 0.5px;
					color: #888;
					padding: 20px 0 0;
					cursor: pointer;
				}
				> p {
					font: 15px/1 'arial';
					font-weight: 400;
					text-align: left;
					color: #aaa;
					padding: 20px 0 0;
				}
			}
		}
	}
}

#aside_y {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	padding: 5vw;
	box-sizing: border-box;
	z-index: 50;

	.btnClose {
		cursor: pointer;
		position: absolute;
		right: 30px;
		top: 30px;
		z-index: 200;
		img {
			transform: scale(0.7);
		}
	}
}

/* tablet ------------------------------------------------ */
@media screen and (max-width: $tablet) {
	.youtube {
		padding: 0 0 100px;

		.inner {
			width: 100%;
			padding: 0 30px;
			box-sizing: border-box;
			article {
				width: 45%;
				> a {
					width: 100%;
				}
				.con {
					> h2 {
						font: 21px/1.1 'oswald';
						font-weight: 300;
					}
					> p {
						font: 13px/1 'arial';
						font-weight: 400;
					}
				}
			}
		}
	}

	#aside_y {
		.btnClose {
			right: 10px;
			top: 10px;
			img {
				transform: scale(0.6);
			}
		}
	}
}

/* mobile ---------------------------------------------- */
@media screen and (max-width: $mobile) {
	.youtube {
		padding: 0 0 100px;

		.inner {
			width: 100%;
			padding: 80px 30px 0;
			box-sizing: border-box;
			article {
				width: 100%;
				margin-bottom: 100px;
				> a {
					width: 100%;
				}
				.con {
					> h2 {
						font: 20px/1.2 'oswald';
						font-weight: 300;
					}
					> p {
						font: 13px/1 'arial';
						font-weight: 400;
					}
				}

				&:nth-of-type(odd) {
					margin-top: 0px;
				}
				&:nth-of-type(even) {
					margin-top: 0px;
				}
				&:last-child {
					margin-bottom: 0px;
				}
			}
		}
	}

	#aside_y {
		padding: 10vw;

		.btnClose {
			right: 10px;
			top: 10px;
			z-index: 200;
			img {
				transform: scale(0.6);
			}
		}
	}
}
