/* content ----------------------------------------- */
.youtube{
    width: 100%;
    padding: 0 0 150px;

      .inner{
        width: 1180px; 
        margin: 0 auto;
        min-height: 500px;
        text-align: center;
      }
  }

/* tablet ------------------------------------------------ */
@media screen and (max-width: $tablet){
    .men{
        padding: 0 0 100px;
        .sub_visual{
            height: 400px;
            width: 100%;
            .title{
                h1{
                    display: block;
                    width: 100%;
                    font: bold 7vmin/1 'arial';
                    letter-spacing: 0px;
                }
                p{
                    position: absolute; top: 55%; left: 50%;
                    transform: translate(-50%,-10%);
                    font: 13px/1.3 'arial'; color: #fff;
                }
            }
        }
        .inner{
            width: 100%; 
            min-height: 400px;
            p{
                padding: 70px 100px;
                text-align: center;
                font: lighter 2.5vmin/1.5 'arial'; color: #333;
                letter-spacing: 1px;
              }
              ul{
                width: 70%;
                flex-wrap : wrap;
                li{
                    margin-top: 10px;
                  }
                  a{
                    padding: 14px 9px;
                    font: lighter 19px/1 'arial';
                  }
              }
        }
    }
}

/* mobile ---------------------------------------------- */
@media screen and (max-width:$mobile){
    .men{
        padding: 0 0 50px;
        .sub_visual{
            height: 300px;
            .title{
            h1{
                font: bold 7vmin/1 'arial';
            }
            p{
                position: absolute; top: 55%; left: 50%;
                transform: translate(-50%,-30%);
                font: 2.5vmin/1.2 'arial'; color: #fff;
            }
          }
        }
        .inner{
            width: 100%;
            min-height: 500px;
            ul{
                width: 60%;
              }
              p{
                padding: 50px;
                font: lighter 2.5vmin/1.5 'arial'; color: #333;
                &::after{
                    width: 140px;
                }
              }
        }
    }
}